<div class="row align-items-center">
        <div class="col-4">
            <label for="rollno" class="col-form-label">Roll No</label>
        </div>
        <div class="col-7">
            <input type="number" id="rollno" class="form-control" name="rollno" value="{{this.rollno}}">
        </div>
    </div>
    <br><br>

    <div class="row align-items-center">
        <div class="col-4">
            <label for="name" class="col-form-label">Name</label>
        </div>
        <div class="col-7">
            <input type="text" id="name" class="form-control" name="name" value="{{this.name}}" placeholder="John Doe">
        </div>
    </div>
    <br><br>

    <div class="row align-items-center">
        <div class="col-4">
            <label for="dob" class="col-form-label">Date of Birth</label>
        </div>
        <div class="col-7">
            <input type="text" id="dob" class="form-control" name="dob" value="{{this.dob}}" placeholder="dd-mm-yyyy">
        </div>
    </div>
    <br><br>

    <div class="row align-items-center">
        <div class="col-4">
            <label for="score" class="col-form-label">Score</label>
        </div>
        <div class="col-7">
            <input type="number" id="score" class="form-control" min="0" max="100" name="score" value="{{this.score}}" >
        </div>
    </div>
    <br><br>

   <div style="flex-direction: column;">
        <button class="btn btn-primary" type="submit"> Submit </button>
        <button class="btn btn-outline-primary" type="reset"> Clear </button>
    </div>