<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrum-item"> <a href="/"> Back to login page </a></li>
    </ol>
</nav>

<div class="container" style="align-items: center; margin-top: 8%; margin-left: 10%;">

    <h1> {{errorcomment}} </h1>

</div>

