
<div class="container" style="align-items: center;">
    <h2 style="text-align: center;"> Login as </h2>
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-outline-primary" type="button" style="margin-left:25% ">
            <a href="/teacher/login">Teacher</a>
        </button>
        <button class="btn btn-outline-primary" type="button" style="margin-left:35% ">
            <a href="/student/login">Student</a>
        </button>
    </div>

    
</div>